.InputPromts {
  position: absolute;
  background-color: #ffffff;
  border: 1px solid #ced4da;
  width: 100%;
  padding: 0.375rem 0.75rem;
  z-index: 1;
}

.InputPromts__value {
  padding: 3px 0px;
}

.InputPromts__value:hover {
  color: #007bff;
}