.HomePage {
  background-color: #f6f8f9;
  box-sizing: border-box;
  padding-bottom: 150px;
  padding-top: 120px;
  min-height: 100vh;
}

.body {
  max-width: 980px;
  margin-right: auto;
  margin-left: auto;
}

.title{
  text-align: center;
}