.AccountsMenu {
  display: flex;
  padding: 20px;
  position: absolute;
  right: 0;
  top: 0;
}

.AccountsMenu__link {
  margin-right: 10px;
  padding: 2px;
  text-align: center;
}

.AccountsMenu__link:last-child {
  margin-right: 0;
}

@media (max-width: 767px) {
  .AccountsMenu {
    justify-content: space-around;
    padding: 20px 0;
    position: relative;
  }
}